<div class="container">
  <div class="questions">
    <%= params[:question] %>
  </div>
  <br>
  <div class="answers">
    <%= @answer %>
  <br>
  </div>
  <div class="link">
    <%= link_to "Ask a new question", ask_path %>
  </div>
</div>
